
@{
    ViewBag.Title = "AddTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Referans Ekleme Sayfası</h2>

<label>Referans Adı</label>
<input type="text" class="form-control" />
<br />

<label>Referans Unvan</label>
<input type="text" class="form-control" />
<br />

<label>Referans Resım Url</label>
<input type="text" class="form-control" />
<br />

<label>Referans Yorumu</label>
<input type="text" class="form-control" />
<br />

<button class="btn btn-primary">Referans Yorumunu Kaydet</button>