
@{
    ViewBag.Title = "TestimonialList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Referans Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Referans Adı</th>
        <th>Referans Unvan</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Gökhan Genç</td>
        <td>Elektronik Mühendisi</td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="#" class="btn btn-success">Güncelle</a></td>
    </tr>
    
    <tr>
        <td>2</td>
        <td>Kaan Şanal</td>
        <td>Takım Lideri</td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="#" class="btn btn-success">Güncelle</a></td>
    </tr>
</table>
