
@{
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<br />
<form method="post">
    <div class="container">
        <label>Kullanıcı Adı</label>
        <input type="text" class="form-control" name="Username" />
        <br />
        <label>Şifre</label>
        <input type="password" class="form-control" name="Password" />
        <br />
        <input type="checkbox" />Beni Hatırla
        <br /><br />
        <button class="btn btn-warning">Giriş Yap</button>
    </div>
</form>