
@{
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div class="container">
    <h1>Kullanıcı Kayıt Sayfası</h1>
    <label>Adınız</label>
    <input type="text" class="form-control" />
    <br />
    <label>Soyadınız</label>
    <input type="text" class="form-control" />
    <br />
    <label>Mesleğiniz</label>
    <input type="text" class="form-control" />
    <br />
    <button class="btn btn-info">Kaydet</button>
    <button class="btn btn-danger">Vazgeç</button>
</div>